<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body class="is-loading-0 is-loading-1 is-loading-2">
<!-- Main -->
<div id="main">
    <!-- Header -->
    <header id="header">
        <h1><a href="/" alt="Home">{{ site.header }}</a></h1>
        <h2>{{ site.subheader }}</h2>
        <p>{{ site.bio }}</p>
    </header>

  {{ content }}

<section id="footer" >
    {% include socials.html %}
</section>

{% include footer.html %}

</div>
{% include scripts.html %}

</body>
</html>
